body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-new {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: initial;
}

.add-new:hover {
    background-color: #0056b3;
}
.table {
    width: 100%; 
    border-collapse: collapse;
}

.table th {
    background-color: #f4f4f4; 
    color: #333; 
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}

.table td {
    background-color: #ffffff;
    padding: 20px; 
    font-size: 1.1em;
}


.actions {
    text-align: center; 
}

.actions a{
    margin-left: 5px; 
}

.table td {
    border: 1px solid #ddd; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.table tr {
    background-color: #f1f1f1;
    font-family: monospace;
    font-size: medium;
}
